In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import joblib

In [2]:
df = pd.read_csv('Resources/UsedCars1.csv')

df.head()

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,17-Jul,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21-Jan,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,18-Sep,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,19-Dec,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,19-Aug,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

In [3]:
# check for missing values
df.isnull().sum()

df.dtypes

df.describe()

,Unnamed: 0,seats,kms_driven,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
count,1553.000000,1553.000000,1553.000000,1550.000000,1.550000e+03,1.550000e+03,1.549000e+03,1553.000000
mean,776.000000,91.480361,52841.931101,236.927277,1.472472e+10,1.472472e+10,1.423989e+04,166.141494
std,448.456798,2403.424060,40067.800347,585.964295,2.186542e+11,2.186542e+11,9.666241e+04,3478.855090
min,0.000000,4.000000,620.000000,7.810000,5.000000e+00,5.000000e+00,5.000000e+00,1.000000
25%,388.000000,5.000000,30000.000000,16.342500,1.197000e+03,1.197000e+03,4.000000e+02,4.660000
50%,776.000000,5.000000,49134.000000,18.900000,1.462000e+03,1.462000e+03,1.173000e+03,7.140000
75%,1164.000000,5.000000,70000.000000,22.000000,1.995000e+03,1.995000e+03,8.850000e+03,17.000000
max,1552.000000,67000.000000,810000.000000,3996.000000,3.260000e+12,3.260000e+12,1.464800e+06,95000.000000

In [4]:
# convert columns to numeric 
df['kms_driven'] = pd.to_numeric(df['kms_driven'], errors='coerce')
df['mileage(kmpl)'] = pd.to_numeric(df['mileage(kmpl)'], errors='coerce')
df['engine(cc)'] = pd.to_numeric(df['engine(cc)'], errors='coerce')
df['max_power(bhp)'] = pd.to_numeric(df['max_power(bhp)'], errors='coerce')
df['torque(Nm)'] = pd.to_numeric(df['torque(Nm)'], errors='coerce')

In [5]:
df

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,17-Jul,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21-Jan,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,18-Sep,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,19-Dec,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,19-Aug,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20-Aug,Comprehensive,Diesel,5,35000,First Owner,Automatic,2020,1493.00,11345.0,11345.0,250.0,17.41
1549,1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,999 cc,2022,Power Steering,999.00,6706.0,6706.0,91.0,3.98
1550,1550,2017 Honda WR-V i-VTEC S,17-Jun,Comprehensive,Petrol,5,49000,First Owner,Manual,2017,17.50,1199.0,1199.0,887.0,5.85
1551,1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18-May,Comprehensive,Petrol,5,40000,Second Owner,Manual,2018,18.78,999.0,999.0,75.0,4.75
1552,1552,2018 Maruti Swift Dzire VXI,18-May,Comprehensive,Petrol,5,34756,First Owner,Manual,2018,20.85,1197.0,1197.0,8314.0,6.10

In [6]:
# convert price from lakhs to USD 
conversion_rate = 1350  # Assume 1 lakh = 1350 USD
df['price(in USD)'] = df['price(in lakhs)'] * conversion_rate
df.drop('price(in lakhs)', axis=1, inplace=True)

In [7]:
df

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,0,2017 Mercedes-Benz S-Class S400,17-Jul,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21-Jan,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2,2018 BMW X1 sDrive 20d xLine,18-Sep,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,3,2019 Kia Seltos GTX Plus,19-Dec,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,4,2019 Skoda Superb LK 1.8 TSI AT,19-Aug,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20-Aug,Comprehensive,Diesel,5,35000,First Owner,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,999 cc,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,1550,2017 Honda WR-V i-VTEC S,17-Jun,Comprehensive,Petrol,5,49000,First Owner,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18-May,Comprehensive,Petrol,5,40000,Second Owner,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,1552,2018 Maruti Swift Dzire VXI,18-May,Comprehensive,Petrol,5,34756,First Owner,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [8]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [9]:
df

,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17-Jul,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21-Jan,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18-Sep,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19-Dec,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19-Aug,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20-Aug,Comprehensive,Diesel,5,35000,First Owner,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,999 cc,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17-Jun,Comprehensive,Petrol,5,49000,First Owner,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18-May,Comprehensive,Petrol,5,40000,Second Owner,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18-May,Comprehensive,Petrol,5,34756,First Owner,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [10]:
df.rename(columns={'ownsership': 'ownership'}, inplace=True)

In [11]:
# convert column ownership to numeric based on strings
def convert_ownership(ownership):
    if 'First' in ownership:
        return 1
    elif 'Second' in ownership:
        return 2
    elif 'Third' in ownership:
        return 3
    elif 'Fourth' in ownership:
        return 4
    elif 'Fifth' in ownership:
        return 5
    else:
        return 0  # Assuming 0 for unknown or other values

df['ownership'] = df['ownership'].apply(convert_ownership)

In [12]:
df

,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17-Jul,Comprehensive,Petrol,5,56000,1,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21-Jan,Comprehensive,Petrol,5,30615,1,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18-Sep,Comprehensive,Diesel,5,24000,1,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19-Dec,Comprehensive,Petrol,5,18378,1,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19-Aug,Comprehensive,Petrol,5,44900,1,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20-Aug,Comprehensive,Diesel,5,35000,1,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,0,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17-Jun,Comprehensive,Petrol,5,49000,1,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18-May,Comprehensive,Petrol,5,40000,2,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18-May,Comprehensive,Petrol,5,34756,1,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [13]:
df['insurance_validity'] = df['insurance_validity'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != "" else 0)

In [14]:
df.rename(columns={'insurance_validity': 'insurance'}, inplace=True)

In [15]:
df

,car_name,registration_year,insurance,fuel_type,seats,kms_driven,ownership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17-Jul,1,Petrol,5,56000,1,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21-Jan,1,Petrol,5,30615,1,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18-Sep,1,Diesel,5,24000,1,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19-Dec,1,Petrol,5,18378,1,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19-Aug,1,Petrol,5,44900,1,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20-Aug,1,Diesel,5,35000,1,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,1,Petrol,5,10000,0,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17-Jun,1,Petrol,5,49000,1,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18-May,1,Petrol,5,40000,2,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18-May,1,Petrol,5,34756,1,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [16]:
df.drop(columns=['insurance'], inplace=True)

In [17]:
# get the last four digits from the 'registration_year' column
df['registration_year'] = df['registration_year'].apply(lambda x: x[:2] if isinstance(x, str) else x)
df

,car_name,registration_year,fuel_type,seats,kms_driven,ownership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17,Petrol,5,56000,1,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21,Petrol,5,30615,1,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18,Diesel,5,24000,1,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19,Petrol,5,18378,1,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19,Petrol,5,44900,1,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20,Diesel,5,35000,1,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,20,Petrol,5,10000,0,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17,Petrol,5,49000,1,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18,Petrol,5,40000,2,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18,Petrol,5,34756,1,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [18]:
# conversion factor from kilometers to miles
km_to_miles = 0.621371

df['kms_driven'] = df['kms_driven'] * km_to_miles

In [19]:
# rename the column to 'miles_driven' to reflect the conversion
df.rename(columns={'kms_driven': 'mileage'}, inplace=True)

In [20]:
df

,car_name,registration_year,fuel_type,seats,mileage,ownership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17,Petrol,5,34796.776000,1,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21,Petrol,5,19023.273165,1,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18,Diesel,5,14912.904000,1,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19,Petrol,5,11419.556238,1,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19,Petrol,5,27899.557900,1,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20,Diesel,5,21747.985000,1,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,20,Petrol,5,6213.710000,0,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17,Petrol,5,30447.179000,1,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18,Petrol,5,24854.840000,2,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18,Petrol,5,21596.370476,1,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [21]:
# keep only the integer part in the 'mileage' column
df['mileage'] = df['mileage'].apply(lambda x: int(x) if isinstance(x, (int, float)) else x)
df

,car_name,registration_year,fuel_type,seats,mileage,ownership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17,Petrol,5,34796,1,Automatic,2017,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21,Petrol,5,19023,1,Automatic,2020,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18,Diesel,5,14912,1,Automatic,2018,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19,Petrol,5,11419,1,Manual,2019,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19,Petrol,5,27899,1,Automatic,2019,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20,Diesel,5,21747,1,Automatic,2020,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,20,Petrol,5,6213,0,2022,Power Steering,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17,Petrol,5,30447,1,Manual,2017,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18,Petrol,5,24854,2,Manual,2018,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18,Petrol,5,21596,1,Manual,2018,20.85,1197.0,1197.0,8314.0,8235.0

In [22]:
df['transmission'] = df['transmission'].apply(lambda x: 'Automatic' if (pd.isna(x) or any(char.isdigit() for char in str(x)) or str(x).strip() == '') else x)

In [23]:
df.drop(columns=['manufacturing_year'], inplace=True)

In [24]:
df.rename(columns={'registration_year': 'year_made'}, inplace=True)
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,2017 Mercedes-Benz S-Class S400,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,2018 BMW X1 sDrive 20d xLine,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,2019 Kia Seltos GTX Plus,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,2019 Skoda Superb LK 1.8 TSI AT,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,2022 Renault KWID 1.0 RXL Opt BSVI,20,Petrol,5,6213,0,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,2017 Honda WR-V i-VTEC S,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,2018 Volkswagen Polo 1.0 MPI Comfortline,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,2018 Maruti Swift Dzire VXI,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [25]:
df['car_name'] = df['car_name'].apply(lambda x: x[5:] if isinstance(x, str) else x)
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,Mercedes-Benz S-Class S400,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite Turbo CVT XV Premium Opt BSVI,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1 sDrive 20d xLine,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos GTX Plus,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb LK 1.8 TSI AT,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Hyundai Creta SX Opt Diesel AT BSVI,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,Renault KWID 1.0 RXL Opt BSVI,20,Petrol,5,6213,0,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,Honda WR-V i-VTEC S,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,Volkswagen Polo 1.0 MPI Comfortline,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,Maruti Swift Dzire VXI,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [26]:
# keep only the first two words in the 'car_name' column
df['car_name'] = df['car_name'].apply(lambda x: ' '.join(x.split()[:2]) if isinstance(x, str) else x)
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,Renault KWID,20,Petrol,5,6213,0,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [27]:
df['ownership'] = df['ownership'].replace(0, 1)
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,Renault KWID,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [28]:
df.rename(columns={'mileage(kmpl)': 'fuel_economy'}, inplace=True)

In [29]:
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),max_power(bhp),torque(Nm),price(in USD)
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,Renault KWID,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [30]:
df.rename(columns={'max_power(bhp)': 'horsepower'}, inplace=True)
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price(in USD)
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,Renault KWID,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [31]:
df.rename(columns={'price(in USD)': 'price'}, inplace=True)
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1549,Renault KWID,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1550,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1551,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1552,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [32]:
print(df.dtypes)

car_name         object
year_made        object
fuel_type        object
seats             int64
mileage           int64
ownership         int64
transmission     object
fuel_economy    float64
engine(cc)      float64
horsepower      float64
torque(Nm)      float64
price           float64
dtype: object

In [33]:
# check if 'Th' is present in any cell of the DataFrame
def check_for_th(df):
    columns_with_th = []
    for col in df.columns:
        if df[col].astype(str).str.contains('Th').any():
            columns_with_th.append(col)
    return columns_with_th

columns_with_th = check_for_th(df)

if columns_with_th:
    print(f"'Th' is found in the following columns: {columns_with_th}")
else:
    print("'Th' is not found in any column.")

'Th' is found in the following columns: ['car_name', 'year_made']

In [34]:
# identify rows where 'Th' is present in 'car_name' or 'year_made'
rows_to_drop = df[(df['car_name'].astype(str).str.contains('Th')) | 
                  (df['year_made'].astype(str).str.contains('Th'))].index

# Drop the identified rows
df.drop(rows_to_drop, inplace=True)

df.reset_index(drop=True, inplace=True)

In [35]:
# check if 'Th' is present in any cell 
def check_for_th(df):
    columns_with_th = []
    for col in df.columns:
        if df[col].astype(str).str.contains('9-').any():
            columns_with_th.append(col)
    return columns_with_th


columns_with_th = check_for_th(df)


if columns_with_th:
    print(f"'Th' is found in the following columns: {columns_with_th}")
else:
    print("'Th' is not found in any column.")

'Th' is found in the following columns: ['year_made']

In [36]:
# identify rows where '9-' is present in 'car_name' or 'year_made'
rows_to_drop = df[(df['car_name'].astype(str).str.contains('9-')) | 
                  (df['year_made'].astype(str).str.contains('9-'))].index


df.drop(rows_to_drop, inplace=True)

df.reset_index(drop=True, inplace=True)

In [37]:
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1536,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5
1537,Renault KWID,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0
1538,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5
1539,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5
1540,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0

In [38]:
non_string_values = df['car_name'][df['car_name'].apply(lambda x: not isinstance(x, str))]

if not non_string_values.empty:
    print("Non-string values found in 'car_name':")
    print(non_string_values)
else:
    print("All values in 'car_name' are strings.")

All values in 'car_name' are strings.

In [39]:
df['car_name'] = df['car_name'].astype(str)

In [40]:
df[['Make', 'Model']] = df['car_name'].str.split(' ', n=1, expand=True)

In [41]:
df

,car_name,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price,Make,Model
0,Mercedes-Benz S-Class,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5,Mercedes-Benz,S-Class
1,Nissan Magnite,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5,Nissan,Magnite
2,BMW X1,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5,BMW,X1
3,Kia Seltos,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0,Kia,Seltos
4,Skoda Superb,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0,Skoda,Superb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1536,Hyundai Creta,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5,Hyundai,Creta
1537,Renault KWID,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0,Renault,KWID
1538,Honda WR-V,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5,Honda,WR-V
1539,Volkswagen Polo,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5,Volkswagen,Polo
1540,Maruti Swift,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0,Maruti,Swift

In [42]:
df.drop(columns=['car_name'], inplace=True)
df

,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price,Make,Model
0,17,Petrol,5,34796,1,Automatic,7.81,2996.0,2996.0,333.0,86062.5,Mercedes-Benz,S-Class
1,21,Petrol,5,19023,1,Automatic,17.40,999.0,999.0,9863.0,12136.5,Nissan,Magnite
2,18,Diesel,5,14912,1,Automatic,20.68,1995.0,1995.0,188.0,32062.5,BMW,X1
3,19,Petrol,5,11419,1,Manual,16.50,1353.0,1353.0,13808.0,18306.0,Kia,Seltos
4,19,Petrol,5,27899,1,Automatic,14.67,1798.0,1798.0,17746.0,32400.0,Skoda,Superb
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1536,20,Diesel,5,21747,1,Automatic,1493.00,11345.0,11345.0,250.0,23503.5,Hyundai,Creta
1537,20,Petrol,5,6213,1,Automatic,999.00,6706.0,6706.0,91.0,5373.0,Renault,KWID
1538,17,Petrol,5,30447,1,Manual,17.50,1199.0,1199.0,887.0,7897.5,Honda,WR-V
1539,18,Petrol,5,24854,2,Manual,18.78,999.0,999.0,75.0,6412.5,Volkswagen,Polo
1540,18,Petrol,5,21596,1,Manual,20.85,1197.0,1197.0,8314.0,8235.0,Maruti,Swift

In [43]:
df = df.reset_index()
print(df)

      index year_made fuel_type  seats  mileage  ownership transmission  \
0         0        17    Petrol      5    34796          1    Automatic
1         1        21    Petrol      5    19023          1    Automatic
2         2        18    Diesel      5    14912          1    Automatic
3         3        19    Petrol      5    11419          1       Manual
4         4        19    Petrol      5    27899          1    Automatic
...     ...       ...       ...    ...      ...        ...          ...
1536   1536        20    Diesel      5    21747          1    Automatic
1537   1537        20    Petrol      5     6213          1    Automatic
1538   1538        17    Petrol      5    30447          1       Manual
1539   1539        18    Petrol      5    24854          2       Manual
1540   1540        18    Petrol      5    21596          1       Manual

      fuel_economy  engine(cc)  horsepower  torque(Nm)    price  \
0             7.81      2996.0      2996.0       333.0  86062.5
1            17.40       999.0       999.0      9863.0  12136.5
2            20.68      1995.0      1995.0       188.0  32062.5
3            16.50      1353.0      1353.0     13808.0  18306.0
4            14.67      1798.0      1798.0     17746.0  32400.0
...            ...         ...         ...         ...      ...
1536       1493.00     11345.0     11345.0       250.0  23503.5
1537        999.00      6706.0      6706.0        91.0   5373.0
1538         17.50      1199.0      1199.0       887.0   7897.5
1539         18.78       999.0       999.0        75.0   6412.5
1540         20.85      1197.0      1197.0      8314.0   8235.0

               Make    Model
0     Mercedes-Benz  S-Class
1            Nissan  Magnite
2               BMW       X1
3               Kia   Seltos
4             Skoda   Superb
...             ...      ...
1536        Hyundai    Creta
1537        Renault     KWID
1538          Honda     WR-V
1539     Volkswagen     Polo
1540         Maruti    Swift

[1541 rows x 14 columns]

In [44]:
df.to_csv('used_carswithindex.csv', index=False)

In [45]:
# Car Rating Calculation:
# The car rating calculation is based on fuel efficiency, engine size, horsepower, torque, mileage, price, the year it was made, and
# the number of previous owners.

# all factors are normalized 
# All relevant factors (fuel_economy, engine(cc), horsepower, torque(Nm), mileage, price, year_made, ownership) are 
# normalized to a scale of 0 to 1 using Min-Max scaling. 
# This ensures that each factor contributes proportionally to the final score.


# Higher values in fuel_economy, horsepower, torque(Nm), and year_made contribute positively to the car's rating, indicating better
# fuel efficiency, more power, and a newer model.

# Higher values in engine(cc), mileage, price, and ownership detract from the rating, as they suggest a larger, less efficient engine,
# more wear and tear, higher cost, and more previous owners.

# The score is calculated by summing the positive contributions and subtracting the negative ones. The result is then normalized to a 0-100 scale 
# for easy interpretation.

# The final car_rating column reflects the overall desirability of each car, with higher scores indicating a better combination of efficiency, performance, and value.
# This calculation allows you to rank and compare cars based on a balanced evaluation of their key features.

In [46]:
from sklearn.preprocessing import MinMaxScaler


columns_to_normalize = ['fuel_economy', 'engine(cc)', 'horsepower', 'torque(Nm)', 'mileage', 'price', 'year_made', 'ownership']


scaler = MinMaxScaler()
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])


df['car_rating'] = (df['fuel_economy'] + df['horsepower'] + df['torque(Nm)'] + df['year_made']) \
                   - (df['engine(cc)'] + df['mileage'] + df['price'] + df['ownership'])

df['car_rating'] = df['car_rating'] * 100 / df['car_rating'].max()


df

,index,year_made,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price,Make,Model,car_rating
0,0,0.538462,Petrol,5,0.068422,0.0,Automatic,0.000000,9.174847e-10,9.174847e-10,0.000216,0.000896,Mercedes-Benz,S-Class,23.380796
1,1,0.846154,Petrol,5,0.037059,0.0,Automatic,0.002405,3.049080e-10,3.049080e-10,0.006722,0.000114,Nissan,Magnite,40.753425
2,2,0.615385,Diesel,5,0.028885,0.0,Automatic,0.003227,6.104294e-10,6.104294e-10,0.000117,0.000325,BMW,X1,29.366446
3,3,0.692308,Petrol,5,0.021940,0.0,Manual,0.002179,4.134969e-10,4.134969e-10,0.009415,0.000179,Kia,Seltos,33.962524
4,4,0.692308,Petrol,5,0.054708,0.0,Automatic,0.001720,5.500000e-10,5.500000e-10,0.012103,0.000329,Skoda,Superb,32.433830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1536,1536,0.769231,Diesel,5,0.042476,0.0,Automatic,0.372397,3.478528e-09,3.478528e-09,0.000159,0.000234,Hyundai,Creta,54.749749
1537,1537,0.769231,Petrol,5,0.011588,0.0,Automatic,0.248531,2.055521e-09,2.055521e-09,0.000051,0.000043,Renault,KWID,50.122245
1538,1538,0.538462,Petrol,5,0.059774,0.0,Manual,0.002430,3.662577e-10,3.662577e-10,0.000594,0.000069,Honda,WR-V,23.992638
1539,1539,0.615385,Petrol,5,0.048653,0.5,Manual,0.002751,3.049080e-10,3.049080e-10,0.000040,0.000054,Volkswagen,Polo,3.460494
1540,1540,0.615385,Petrol,5,0.042175,0.0,Manual,0.003270,3.656442e-10,3.656442e-10,0.005664,0.000073,Maruti,Swift,28.995434

In [47]:
df.drop(df.columns[1], axis=1, inplace=True)
df

,index,fuel_type,seats,mileage,ownership,transmission,fuel_economy,engine(cc),horsepower,torque(Nm),price,Make,Model,car_rating
0,0,Petrol,5,0.068422,0.0,Automatic,0.000000,9.174847e-10,9.174847e-10,0.000216,0.000896,Mercedes-Benz,S-Class,23.380796
1,1,Petrol,5,0.037059,0.0,Automatic,0.002405,3.049080e-10,3.049080e-10,0.006722,0.000114,Nissan,Magnite,40.753425
2,2,Diesel,5,0.028885,0.0,Automatic,0.003227,6.104294e-10,6.104294e-10,0.000117,0.000325,BMW,X1,29.366446
3,3,Petrol,5,0.021940,0.0,Manual,0.002179,4.134969e-10,4.134969e-10,0.009415,0.000179,Kia,Seltos,33.962524
4,4,Petrol,5,0.054708,0.0,Automatic,0.001720,5.500000e-10,5.500000e-10,0.012103,0.000329,Skoda,Superb,32.433830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1536,1536,Diesel,5,0.042476,0.0,Automatic,0.372397,3.478528e-09,3.478528e-09,0.000159,0.000234,Hyundai,Creta,54.749749
1537,1537,Petrol,5,0.011588,0.0,Automatic,0.248531,2.055521e-09,2.055521e-09,0.000051,0.000043,Renault,KWID,50.122245
1538,1538,Petrol,5,0.059774,0.0,Manual,0.002430,3.662577e-10,3.662577e-10,0.000594,0.000069,Honda,WR-V,23.992638
1539,1539,Petrol,5,0.048653,0.5,Manual,0.002751,3.049080e-10,3.049080e-10,0.000040,0.000054,Volkswagen,Polo,3.460494
1540,1540,Petrol,5,0.042175,0.0,Manual,0.003270,3.656442e-10,3.656442e-10,0.005664,0.000073,Maruti,Swift,28.995434

In [48]:
df.to_csv('ratings_used_cars.csv', index=False)